# Data and Checkpoints
# Explicitly ignore data subdirectories
data/Rellis-3D/
!data/Rellis-3D/README.md
checkpoints/
assets/checkpoints/
outputs/
vis/
onnx/
wandb/

# EfficientViT
efficientvit/

# Python
__pycache__/
*.pyc

# IDEs
.idea/
.vscode/

# System
.DS_Store
